.contact-form{
    display:flex;
    align-items:center; /*Vertical alignment*/
    justify-content:center; /*Horizontal alignment */
    background-color:black;
    height:120dvh;
}
.contact-container{
    position:relative;
    display:flex;
    flex-direction:column;
    top: -20px;
    width:900px;
    height:520px;
    border-radius:25px;
    padding:10px;
    background-color:#0F2C59;
}
.left{
    color:white;
    margin:30px;
    max-width:300px;

}
.left h1{
    text-align:justify;
    word-spacing:0.0em;
    text-align:left;
    margin-bottom:50px;
    font-weight:bold;
}

.left i{
    font-style:normal;
    line-height:3em;
    font-stretch:ultra-expanded;
}