body{
    
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
body, .container{
    margin:0;
    padding:0;
}

.custom-navbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:20px;
    position:relative;
    z-index:2;
}
.nav-link{
    margin-right:20px;
    color: #FDFEFF;
    text-transform:uppercase;
    font-size:small;
}
.nav-link:hover{
    color:black;
}
 
