body{
    
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
body, .container{
    margin:0;
    padding:0;
}

.custom-navbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:20px;
    position:fixed;
    top:0;
    width:100%;
    z-index:50;
    background-color:rgba(255,255,255,0)!important;
}
.nav-link{
    margin-right:20px;
    color: white;
    text-transform:uppercase;
    font-size:small;
}
.nav-link:hover{
    color:black;
}
 
