body{
    overflow-x:hidden;
}
.top{
    background-color:#0F2C59;
    color:white;
    height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.top-content{
    
    max-width:800px;
    text-align:justify;
    margin-left:0px;
    margin-top:50px;
}
.top-content h1{
    font-weight:bold;
    margin-bottom:15px;
}
.main{
  height:250dvh;
}
.image-icon{
    width: 100px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
.main-text{
    max-width:400px;
    margin:50px auto;
    text-align:center;
}
.main-text h4,
.main-text h5{
    font-weight:bold;
}
.main-text p{
    font-size:14px;
}
.bullet-list ul{
    font-size:14px;
    max-width:400px;
}
.main .row{
    justify-content:center;
    margin-left:0px;
    margin-top:80px;
    
    
}
.col-md-6{
    width:40%;
    margin-bottom: 20px;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 430px) {
    .navbar {
        margin-bottom: 80px; /* Adjusted margin for spacing */
    }

    .top-content {
        margin-top: 80px; /* Adjusted margin for spacing */
        padding:40px;
    }
    .top {
        height: auto; /* Auto height for smaller screens */
    }

    .top-content h1 {
        font-size: 150%; /* Adjusted font size for smaller screens */
    }

    .image-icon {
        width: 60px; /* Adjusted width for smaller screens */
        height: 60px; /* Adjusted height for smaller screens */
        margin-top: 10px; /* Adjusted margin for smaller screens */
    }
    .main{
        height:auto;
    }

    .main-text p,
    .bullet-list ul {
        font-size: 12px; /* Adjusted font size for smaller screens */
        padding:20px;
    }

    .main .row {
        margin-top: 10px; /* Adjusted margin for smaller screens */
    }

    .col-md-6 {
        width: 90%; /* Adjusted width for smaller screens */
    }
}
/* Additional adjustments for iPhone SE and similar sizes */
@media only screen and (max-width: 375px) {
    .top-content {
        margin-top: 15px;
    }
}

/* Additional adjustments for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .top-content {
        margin-top: 30px;
    }
}




